deploy.credentials
build
bin
.gradle
irma_configuration
*.war
src/main/webapp/WEB-INF/lib/credentials_api.lib.jar
src/main/webapp/WEB-INF/lib/credentials_idemix.lib.jar
src/main/webapp/WEB-INF/lib/idemix_library.lib.jar
src/main/webapp/WEB-INF/lib/idemix_terminal.lib.jar
src/main/webapp/WEB-INF/lib/scuba.lib.jar
src/main/webapp/META-INF/context.xml
.classpath
.project
.settings
