#IRMA_verify, #IRMA_issue {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 1040;
  font-family: Ubuntu, sans-serif;
  font-size: 24px;
  line-height: 30px;
}


.IRMA_text {
  font-family: Ubuntu, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #004289;
}
#load_credentials {
  cursor: pointer;
}

#IRMA_verify {
  background-color: #004289;
  color: #004289;
}

#IRMA_issue {
  background-color: #d0d0d0;
  color: #000000;
}

.IRMA_page {
	margin: 0 auto;
	width: 676px;
}

.IRMA_container {
  position: absolute;
  top: 90px;
  width: 676px;
}

.IRMA_title {
  position: absolute;
  right: 0px;
  top: -40px;
  height: 40px;
  width: 480px;		
  z-index: 2;
  color: #ffffff;
  text-align: right;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.IRMA_main_scherm {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 388px;
  width: 676px;
  background-color: #ffffff;
  -moz-border-radius: 12px;
  border-radius: 12px;
  padding: 10px;
  z-index: 1;
}

.IRMA_logo_top {
  position: absolute;
  left: -73px;
  top: -68px;
  height: 211px;
  width: 264px;		
  z-index: 2;
}

.IRMA_logo_bottom {
  position: absolute;
  right: 20px;
  bottom: -132px;
  height: 180px;
  width:  180px;
}
  
.IRMA_issuer_logo {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 118px;
  width:  696px;    
  z-index: 2;
  border-bottom: 1px solid #d0d0d0;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.IRMA_verifier_logo {
  position:	absolute;
  right: 20px;
  bottom: -90px;
  height: 180px;
  width: 180px;
  border: 1px solid #004289;
  background-color: #ffffff;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.IRMA_arrow {
  position: absolute;
  right: 210px;
  bottom: -82px;
  height: 78px;
  width: 78px;
}

.IRMA_buttons {
  position: absolute;
  bottom: -166px;
  right: 0px;
  height: 56px;
  width: auto;
}

.IRMA_button_primary {
  height: 56px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  border: 0px;
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  width: 332px;
  background-color: #888888;
  cursor: default;
}

.IRMA_button_primary.enabled {
  background-color: #00b1e6;
  cursor: pointer;
}

.IRMA_button_gray_verify, .IRMA_button_gray_issue {
  height: 56px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  border: 0px;
  cursor: pointer;
  margin: 0px;
  display: inline-block;
  width: 166px;	
}

.IRMA_button_gray_verify {
  background-color: #d0d0d0;
}

.IRMA_button_gray_issue {
  background-color: #888888;
}

.IRMA_content_verify {
  position: absolute;
  left: 254px;
  top: 110px;
  width: 400px;
  height: auto;
}

.IRMA_content_issue {
  position: absolute;
  left: 32px;
  top: 135px;
  width: 620px;
  height: auto;
}

.IRMA_content_credential {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}
	
.IRMA_content_status {
  display: block;
  font-weight: 300;
  margin-top: 20px;
}

.IRMA_content_icon {
  position: absolute;
  left: 108px;
  top: 110px;
  width: 130px;
  height: 130px;
}

.IRMA_content_table {
  width: 100%;
  height: auto;
  padding: 0px;
}

.IRMA_content_attribute {
  font-weight: 300;
  width: 200px;
}
  
.IRMA_content_value {
  font-weight: 300;
  color: #888888;
}

body { background-color: #ffffff; }
div.huge {font-size: 300px; line-height: 1em;}
#verify {cursor: pointer; }
#qr_overlay {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}
#qr_overlay_background {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	z-index: 10000;
}

#IRMA_qr_main {
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
	width: 40%;
	height: 400px;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;
	background: white;
	z-index: 10001;
	-moz-border-radius: 12px;
	border-radius: 12px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}