<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>irma_web_service</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IRMAProtocolServlet</servlet-name>
    <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
    <init-param>
      <param-name>org.restlet.application</param-name>
      <param-value>org.irmacard.web.restapi.IRMAProtocolApplication</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>IRMAProtocolServlet</servlet-name>
    <url-pattern>/protocols/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fileServlet</servlet-name>
    <servlet-class>org.irmacard.web.fileserver.IRMATubeFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>attributeStoreServlet</servlet-name>
    <servlet-class>org.irmacard.web.irmaWiki.IRMAWikiAttributeStoreServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>fileServlet</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>attributeStoreServlet</servlet-name>
    <url-pattern>/attributeStore/*</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>mp4</extension>
    <mime-type>video/mp4</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>webm</extension>
    <mime-type>video/webm</mime-type>
  </mime-mapping>

  <!-- Enable Cross-Origin Resource Sharing for this web service -->
  <filter>
    <filter-name>CometCorsFilter</filter-name>
    <filter-class>org.irmacard.comet.filters.CometCorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CometCorsFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Database reference for voucher application -->
  <resource-ref>
	<description>Surfnet Voucher Database</description>
	<res-ref-name>jdbc/irma_voucher</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
  </resource-ref>
</web-app>